/* html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(228, 228, 228);
} */

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#layoutSidenav_content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 420px auto;
    /* height: 100%; */
  }

.dashboard .box {
    /* position: absolute; */
    z-index: 1;
    border: 1px solid rgb(222, 220, 220);
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 0 0 1px;
    padding: 5px;
    margin: 5px;
}

/*---------------------------------------------------------------*/
.dashboard .three {
    height: 40px;
    width: 100%;
}

.dashboard .three b {
    display: block;
    font-size: 20px;
    font-weight: bold 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 10px;
    position: relative;
    padding-left: 5px;
    text-align: center; /* 왼쪽 정렬 추가 */
}
  
.dashboard .three b:after {
    content: "";
    /* position: absolute; */
    left: 5%;
    bottom: 4px;
    height: 3px;
    width: 90%;
    background-color: rgb(222, 220, 220);
}

.dashboard ul {
    list-style: none;
    padding-left: 0;
    padding-top: 3px;
    margin-top: 3px;
}

.dashboard li {
    float: left;
    margin-right: 10px; /* 각 항목 사이의 간격 조정 */
    position: relative; /* 불릿 위치 조정을 위한 상대 위치 설정 */
    padding-left: 12px; /* 텍스트와 불릿 사이의 간격 조정 */
}

.dashboard li:before {
    content: '\2022'; /* 불릿 문자 */
    /* position: absolute; */
    left: 0; /* 불릿의 위치 조정 */
    top: 0; /* 불릿의 상단 위치 조정 */
    color: black; /* 불릿 색상 설정 */
    font-size: 20px; /* 불릿 크기 설정 */
    line-height: 1; /* 라인 높이 조정 */
}

.dashboard .radio-container {
    width: 480px;
    display: flex;
    justify-content: space-between;
}

.dashboard .radio-container input[type="radio"] {
    display: none; /* 기본 라디오 버튼 숨기기 */
}

.dashboard .radio-container label {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5px;
    height: 5px;
}

.dashboard .radio-container input[type="radio"]:checked + label {
    background-color: #555; /* 선택된 라디오 버튼 색상 변경 */
}

.dashboard .radio-container label span {
    display: block;
    margin-top: 40px; /* 텍스트를 버튼 아래에 위치 */
    text-align: center;
}
/*---------------------------------------------------------------*/
/* #title {
    width: 300px;
    height: 400px;
}

#hierarchy_structure {
    left: 325px;
    width: 700px;
    height: 400px;
}

#topic_rank {
    left: 1040px;
    width: 300px;
    height: 400px;
}

#similarity_score {
    top: 425px;
    width: 250px;
    height: 600px;
}

#human {
    left: 275px;
    top: 425px;
    width: 350px;
    height: 600px;
}

#result {
    left: 640px;
    top: 425px;
    width: 700px;
    height: 600px;
} */
#title {
    grid-column: 1 / 2;
}

#hierarchy_structure {
    grid-column: 2 / 4;
}

#topic_rank {
    grid-column: 4 / 5;
}

#similarity_score {
    grid-column: 1 / 2;
}

#human {
    grid-column: 2 / 3;
}

#result {
    grid-column: 3 / 5;
    overflow-y: auto;
}

/*--------------------------------------*/
#news_title {
    /* position: absolute; */
    margin: 0 15px;
    padding: 5px 5px 10px 5px;
    height: 80px;
    border-bottom: 2px dashed #ddd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: lighter;
    text-align: left;
    overflow-y: auto;
}

#main_text {
    /* position: absolute; */
    margin: 0 15px;
    padding: 5px 5px 10px 5px;
    /* top: 105px; */
    /* width: 265px; */
    height: 190px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: lighter;
    overflow-y: auto;
}

#Summary {
    /* position: absolute; */
    margin: 0 15px;
    padding: 5px 5px 10px 5px;
    /* top: 305px; */
    /* width: 265px; */
    height: 85px;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: lighter;
    overflow-y: auto;
}

/*----------------------------------------------------*/
#thumbnail {
    /* position: absolute; */
    top: 45px;
    left: 10px;
    width: 490px;
    height: 360px;
    margin-left: 5px;
}

#topic_list {
    /* position: absolute; */
    top: 410px;
    left: 10px;
    width: 490px;
    height: 50px;
    margin-left: 5px;
}

#bait_title {
    /* position: absolute; */
    top: 465px;
    left: 10px;
    width: 490px;
    height: 70px;
    margin-left: 5px;
    margin-top: 5px;
}

#set_score {
    /* position: absolute; */
    top: 540px;
    left: 10px;
    width: 490px;
    height: 60px;
    margin-left: 5px;
}
/*---------------------------------------------------*/
#tree_vis {
    position: relative;
    width: 700px;
    height: 360px;
}
/*----------------------------------------------------*/
#trajectory {
    /* position: absolute; */
    top: 45px;
    left: 15px;
    width: 680px;
    height: 360px;
}