<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div class="box" id="title">
        <div class="three"><b>Article</b></div>
        <div class="line" id="news_title"></div>
        <div id="main_text"></div>
        <div id="Summary"></div>
    </div>
    <div class="box" id="hierarchy_structure">
        <div class="three"><b>Hierarchical News Structure</b></div>
        <div id="tree_vis"></div>
    </div>
    <div class="box" id="topic_rank">
        <div class="three"><b>Topic Rank</b></div>
        <div id="rank_chart"></div>
    </div>
    <div class="box" id="similarity_score">
        <div class="three"><b>Similarity Score</b></div>
        <div id="thumbnail_title"></div>
        <div id="summary_title"></div>
        <div id="summary_thumbnail"></div>
    </div>
    <div class="box" id="human">
        <div class="three"><b>Human Click Bait</b></div>
        <div id="thumbnail"></div>
        <div id="topic_list"><b>Topic</b><br></div>
        <div id="bait_title"><b>Title</b><br></div>
        <div id="set_score"><b>Score Selection</b><br>
            <div class="radio-container">
                <input type="radio" id="radio0" name="range" value="0"><label for="radio0"><span>0</span></label>
                <input type="radio" id="radio1" name="range" value="0.1"><label for="radio1"><span>0.1</span></label>
                <input type="radio" id="radio2" name="range" value="0.2"><label for="radio2"><span>0.2</span></label>
                <input type="radio" id="radio3" name="range" value="0.3"><label for="radio3"><span>0.3</span></label>
                <input type="radio" id="radio4" name="range" value="0.4"><label for="radio4"><span>0.4</span></label>
                <input type="radio" id="radio5" name="range" value="0.5"><label for="radio5"><span>0.5</span></label>
                <input type="radio" id="radio6" name="range" value="0.6"><label for="radio6"><span>0.6</span></label>
                <input type="radio" id="radio7" name="range" value="0.7"><label for="radio7"><span>0.7</span></label>
                <input type="radio" id="radio8" name="range" value="0.8"><label for="radio8"><span>0.8</span></label>
                <input type="radio" id="radio9" name="range" value="0.9"><label for="radio9"><span>0.9</span></label>
                <input type="radio" id="radio10" name="range" value="1"><label for="radio10"><span>1</span></label>
            </div>
        </div>
    </div>
    <div class="box" id="result">
        <div class="three"><b>Trajectory of Click Bait</b></div>
        <div id="trajectory"></div>
    </div>

    <script src="static/js/structure.js"></script>
    <script src="static/js/rank.js"></script>
    <script src="static/js/sim_score.js"></script>
    <script src="static/js/article.js"></script>
    <script src="static/js/clickbait.js"></script>
    <script src="static/js/result.js"></script>
</body>
</html>